*{
    text-align: center;
    text-decoration: none;
    padding: 0;
    margin: 0;
    list-style: none;
}
@font-face{
    font-family:'kikyo';
    src: url(kikyo.otf);
}
:root{
    --blue: #006eff;
  --white: #ffffff;
  --gray: #f5f5f5;
  --black1: #000000;
  --black2: #777777;
  --green: #8de02c;
  --red: #FF0000;
  --orange: #FFA500;
  }
  body{
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: kikyo;
  }

  .menu{
    padding-top: 20px;
  }

  .nav{
    position: relative;
    padding: 30px;
    list-style: none;
    display: inline-flex;
    /* margin-top: -100px; */
    font-size: 30px;
    text-align: center;
    color: var(--white);
  }
  
  .nav a{
    color: var(--white);
  }
  .nav a:hover{
    color: var(--red);
  }
  .menu .section h1{
font-size: 250px;
margin: auto;
text-align: center;
color: var(--white);
  }
  .menu .section p{
    color: var(--white);
    font-size: 30px;
    text-align: center;
      }

      .menu .icon{
        font-size: 30px;
        display: block;
        min-width: 60px;
        height: 60px;
        line-height: 75px;
        text-align: center;
          }

          .menu .icon ion-icon{
        color: var(--red);  
        }
        .menu .icon ion-icon:hover{
          color: var(--white);  
          }

        .video{
            width: 100%;
            height: 100vh;
            position: absolute;
            right: 0;
            bottom: 0;
            z-index: -1;
        }

        @media all and (min-aspect-ratio: 16/9){
            .video{
                width: 100%;
                height: auto;
            }
        }
        
        @media all and (max-aspect-ratio: 16/9){
            .video{
                width: auto;
                height: 100%;
            }
        }

        @media all and (min-width: 912px) {
    
    
        
        .nav {
          font-size: 20px;
          padding: 20px;
      }
  
      .menu .section h1 {
          font-size: 300px;
        
      }

      .menu .section{
        padding-top: 300px;
      }
    

      .menu .section p {
          font-size: 15px;
      }
      }

      @media all and (max-width: 390px) {
     
    
        .nav {
            font-size: 20px;
            padding: 20px;
        }
    
        .menu .section h1 {
            font-size: 50px;
          
        }

        .menu .section{
          padding-top: 300px;
        }
      

    
        .menu .section p {
            font-size: 15px;
        }
    }

    @media all and (min-width: 768px) {
     
      .nav {
          font-size: 150px;
      }
  
      .menu .section h1 {
          font-size: 400px;
      }
  
  
  
      .menu .section p {
          font-size: 90px;
      }
  }
  @media all and (min-width: 820px) {
     
    .nav {
        font-size: 200px;
    }

    .menu .section h1 {
        font-size: 200px;
    }


    .menu .section p {
        font-size: 80px;
    }
}

  @media all and (min-width: 320px) {
  
    .nav {
        font-size: 20px;
        padding: 20px;
    }

    .menu .section h1 {
        font-size: 70px;
      
    }

    .menu .section{
      padding-top: 250px;
    }
  
   

    .menu .section p {
        font-size: 9px;
    }
}


@media all and (min-width: 300px) {
  
  .nav {
      font-size: 15px;
      padding: 20px;
  }

  .menu .section h1 {
      font-size: 50px;
    
  }

  .menu .section{
    padding-top: 200px;
  }


  .menu .section p {
      font-size: 9px;
  }
}

@media all and (min-width: 280px) {
  
  .nav {
      font-size: 10px;
      padding: 20px;
  }

  .menu .section h1 {
      font-size: 40px;
    
  }

  .menu .section{
    padding-top: 200px;
  }


  .menu .section p {
      font-size: 7px;
  }
}

@media all and (min-width: 360px) {
  
  .nav {
      font-size: 40px;
      padding: 20px;
  }

  .menu .section h1 {
      font-size: 50px;
    
  }

  .menu .section{
    padding-top: 250px;
  }



  .menu .section p {
      font-size: 9px;
  }
}

@media all and (min-width: 320px) {
  
  .nav {
      font-size: 15px;
      padding: 20px;
  }

  .menu .section h1 {
      font-size: 50px;
    
  }

  .menu .section{
    padding-top: 250px;
  }


  .menu .section p {
      font-size: 8px;
  }
}

@media all and (min-width: 390px) {
  
  .nav {
      font-size: 20px;
      padding: 20px;
  }

  .menu .section h1 {
      font-size: 80px;
    
  }

  .menu .section{
    padding-top: 350px;
  }

 

  .menu .section p {
      font-size: 10px;
  }
}

@media all and (min-width: 1024px) {
  
  .nav {
    /* margin-top: 20px; */
      font-size: 50px;
      padding: 30px;
  }

  .menu .section h1 {
      font-size: 80px;
    
  }

  .menu .section{
    padding-top: 50px;
  }

 

  .menu .section p {
      font-size: 10px;
  }
}
@media all and (min-width: 1280px) {
  
  .nav {
    /* margin-top: 20px; */
      font-size: 50px;
      padding: 30px;
  }

  .menu .section h1 {
      font-size: 80px;
    
  }

  .menu .section{
    padding-top: 220px;
  }



  .menu .section p {
      font-size: 10px;
  }
}

@media all and (min-width: 540px) {
  
  .nav {
    /* margin-top: 20px; */
      font-size: 24px;
      padding: 30px;
  }

  .menu .section h1 {
      font-size: 80px;
    
  }

  .menu .section{
    padding-top: 220px;
  }



  .menu .section p {
      font-size: 10px;
  }
}

@media all and (min-width: 820px) {
  
  .nav {
    /* margin-top: 20px; */
      font-size: 40px;
      padding: 30px;
  }

  .menu .section h1 {
      font-size: 150px;
    
  }

  .menu .section{
    padding-top: 500px;
  }



  .menu .section p {
      font-size: 30px;
  }
}